body {
    margin: 0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
 
/*--Responsive Navbar--*/
}
.myNav {
    overflow: hidden;
    background-color: #000;
    text-align: center;
}
.myNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 18px;
}
.myNav a:hover {
    background-color: #000C0C;
    color: #00B7C6;
}
.myNav a.active {
    background-color: #000;
    color: white;
}
.myNav .icon {
    display: none;
}
@media screen  and (max-width: 500px) {
    .myNav a:not(:first-child) {
        display: none;
}
    .myNav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .myNav.responsive {
        position: relative;
    }
    .myNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .myNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
i {
    padding: 0 2px;
    color: #00B7C6;
}
.CRB{
    color: rgb(11, 239, 247);
    font-size: 17px;
    font-weight: 600;
    margin-left: 39%;
}
.logo{
    color: rgb(11, 239, 247);
    font-size: 16px;
    font-weight: 700;
    margin-left: 27%;
}
img {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 50%;
    box-shadow: 0 0 2px #002726, 0 0 2em #00FFFA;
    border: 4px solid #00FFFA;
}

.clock {
     background: black;
     color: rgb(11, 239, 247);
     border: 4px solid rgb(11, 239, 247);
     position: absolute;
     padding: 20px;
     font-size: 40px;
     border-radius: 5px;
     box-shadow:4px 4px 6px #00b7c5, 4px 4px 6rem #00b7c5;
     right:50px;
     margin-top: 60px;
}

/*Loading Animation*/
center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 25%;
    animation: ring 2s linear infinite;
    box-shadow: 2px 2px 6px #0BEFF7;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #00FFA9;
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 1px 5px 2px #FFCC00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #00FF6A;
    }
    75%{
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px #FF6C00;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #CCFF00;
    }
}
.ring:before{
    position: absolute;
    content: '';   
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #0BEFF7;
}
span{
    color: #00B7C6;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
    margin-left: 35%;
    

}
@keyframes text {
    50%{
        color: #000;
    }
}

/*-- Battery Percentage CSS --*/
main {
    background-color: #000;
    min-height: 20vh;
    width: 70%;
    display: flex;
    align-items: center; 
    justify-content: center;
    top: 30px;
    left: 33px;
    border: 2px solid #0BEFF7;
    box-shadow: 2px 2px 6px #0BEFF7, 2px 2px 6rem #0BEFF7;
    margin-left: 14%;
}
.battry {
    font-size: 25px;
    color: #0BEFF7;
}
.loader {
    width: 80px;
    height: 40px;
    display: inline-block;
    position: relative;
    left: 25.3%;
    margin-left: 13%;
    color: red;
    border: 3px solid #00B7C6;
    -webkit-animation: fillX 2s linear infinite;
    animation: fillX 2s linear infinite;
}
.loader::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: red;
    width: 5px;
    height: 18px;
}
@-webkit-keyframes fillX {
    0% {
        box-shadow: 0 0 inset;
    }
    50% {
        box-shadow: 40px 0 inset;
    }
    100% {
        box-shadow: 80px 0 inset;
    }
}
@keyframes fillX {
    0% {
        box-shadow: 0 0 inset;
    }
    50% {
        box-shadow: 40px 0 inset;
        color: orange;
    }
    100% {
        box-shadow: 80px 0 inset;
        color: green;
    }
}
.hr {
    width: 30%;
    height: 50px;
    background: #00B7C6;
    border-radius: 2px 2px 50px 
   50px;
   -webkit-box-reflect: below 10px linear-gradient(transparent,#0005);
}

/*--Glowing Icon Animation CSS--*/
.label {
    color: rgb(11, 239, 247);
    font-size: 15px;
    margin-left: 31%;
    text-transform: uppercase;
}
ul {
    list-style: none;
    display: flex;
    text-align: center;
}
ul li {
    height: 50px;
    width: 50px;
    background: #0F1E1D;
    position: relative;
    color: #999;
    font-size: 20px;
    display: block;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 8px;
    left: -15px;
    cursor: pointer;
    transition: .4s;
}
ul li:before {
    height: inherit;
    width: inherit;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(.8);
    z-index: -1;
    transition: .4s;
}
ul li:nth-child(1):before {
    background: #006EFF;
}
ul li:nth-child(2):before {
    background: #FF0B00;
}
ul li:nth-child(3):before {
    background: #00CEFF;
}
ul li:nth-child(4):before {
    background: #F9FF00;
}
ul li:nth-child(5):before {
    background: #FF0089;
}

ul li:hover:before {
    filter: blur(2px);
    transform: scale(1.2);
}

ul li:nth-child(1):hover:before {
    box-shadow: 0 0 20px #006EFF;
}
ul li:nth-child(2):hover:before {
    box-shadow: 0 0 20px #FF0B00;
}
ul li:nth-child(3):hover:before {
    box-shadow: 0 0 20px #00CEFF;
}
ul li:nth-child(4):hover:before {
    box-shadow: 0 0 20px #F9FF00;
}
ul li:nth-child(5):hover:before {
    box-shadow: 0 0 20px #FF0089;
}

ul li:nth-child(1):hover {
    /*color: #006EFF;*/
    box-shadow: 0 0 20px #006EFF;
    text-shadow: 0 0 10px #006EFF;
}
ul li:nth-child(2):hover {
    /*color: #FF0B00;*/
    box-shadow: 0 0 20px #FF0B00;
    text-shadow: 0 0 10px #FF0B00;
}
ul li:nth-child(3):hover {
    /*color: #00CEFF;*/
    box-shadow: 0 0 20px #00CEFF;
    text-shadow: 0 0 10px #00CEFF;
}
ul li:nth-child(4):hover {
    /*color:#F9FF00;*/
    box-shadow: 0 0 20px #F9FF00;
    text-shadow: 0 0 10px #F9FF00;
}
ul li:nth-child(5):hover {
    /*color: #FF0089;*/
    box-shadow: 0 0 20px #FF0089;
    text-shadow: 0 0 15px #FF0089;
}
hr {
    width: 80%;
    border-color: #00B7C6;
}
footer {
    background: #004A3C;
    border-radius: 50px;
}
.copy {
    color: #00b7c6;
    font-size: 13px;
    margin-left: 18.9%;
}
.link {
    width: 60%;
    font-size: 16px;
    padding: 10px;
    margin-left: 20%;
    border-radius: 10px;
    border: 2px solid #00B7C6;
    background-color: transparent;
    box-shadow: 1px 1px 1px #005449, 1px 2px 1px #005449, 1px 3px 1px #005449,
    1px 4px 1px #005449, 1px 5px 1px #005449, 1px 6px 1px #005449, 1px 7px 1px #005449,
    1px 8px 1px #005449, 1px 9px 1px #005449, 1px 10px 1px #005449,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    animation: .3s;
}
.link a{
    color: #00B7C6;
    text-decoration: none;
}
.link:hover {
    color: #FFF;
    background-color: #478A82;
}
.Account {
    margin-left: 20%;
    padding: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    border: 2px solid #00B7C6;
    background-color: transparent;
    box-shadow: 1px 1px 1px #005449, 1px 2px 1px #005449, 1px 3px 1px #005449,
    1px 4px 1px #005449, 1px 5px 1px #005449, 1px 6px 1px #005449, 1px 7px 1px #005449,
    1px 8px 1px #005449, 1px 9px 1px #005449, 1px 10px 1px #005449,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
    animation: .3s;
    font-size: 16px;
}
.Account a {
    color: #00B7C6;
    text-decoration: none;
}
.Account:hover {
    color: #FFF;
    background-color: #478A82;
}
